body {
    background-image: url("trackanimeversion.png");
    background-size: cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    color: #ffffff;
}
.mnd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
}
h1,h2{
     font-family: "Bangers", system-ui;
    letter-spacing: 3px;
}
h1{
    font-size: 2.5rem;

}
h2 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 20px;
}
p{
     font-weight: bold;
     font-style: italic;
     font-size: large;
}
button {
    border: none;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: #ffffff;
}

#increment-btn {
    background: #b24240;
}

#save-btn {
    background:#b24240;
}
#reset-btn{
    background-color:#887cc8;
}
.ipt-btn{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
